<!DOCTYPE html>
<html>
  <head>
    <title>GoodReserve purchase test page</title>
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <script src="/javascripts/materialize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel='stylesheet' href="/stylesheets/common.css" />
  </head>
  <body>
  <nav>
  <div class="nav-wrapper">
  	<div class="col s12">
  	</div>
  </div>
  </nav>
  </body>
</html>
