<!DOCTYPE html>
<html>
  <head>
    <title>GoodReserve purchase test page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <script src="/javascripts/materialize.js"></script>
    <link rel='stylesheet' href="/stylesheets/common.css" />
    <link rel='stylesheet' href='/stylesheets/index.css'/>
  </head>
  <body>
  <nav>
  <div class="nav-wrapper MainDarkRed valign-wrapper">
  	<a href="/setting" class="restaurantName"><%= restaurantName %></a>
	<img src='/images/logo_waitlist_logo.png' class="valign responsive-img"/>
	<ul class="saleWrapper">
	  <li>
 	    <a href="/end"><span class="saleEndButton">영업종료</span></a>
	  </li>
	</ul>
  </div>
  </nav>
  <div class="content">
  <div class="MainContent">
    <div class="MainDarkRed-text MainContentHeader">
      <span class="left left-align">메뉴 예약 내역</span>
      <span class="right right-align">2016. 10. 16. YB 생:일</span>
    </div>
    <div class="CardContainer">
  <% for(var i = 0; i<11;++i){ %>
    <div class="ReserveCard">
      <div class="ReserveCardHeader">
        <span class="left left-align">13:00~15:00</span>
	<span class="right right-align">REZRO-4062</span>
      </div>
      <div class="ReserveHeaderContent MainDarkRed white-text valign-wrapper">
      	<p class="valign">
	<strong>김영환</strong>
	<span>010-8888-8888</span>
      </div>
      <div class="ReserveCardContent valign-wrapper">
        <div class="valign">
	  <div class="ReserveCardContentTitle">메뉴</div>
	  <% for(var j=0 ; j < 3;++j){ %>
	    <div class="CardMenuContent MainDarkRed-text">김치 말이 전 3인분</div>
	  <% } %>
	  <p class="right-align CardTotalPrice MainDarkRed-text">35,123원</p>
	</div>
      </div>
    </div>
  <% } %>
    </div>
  </div>
  <div class="ListContent">
    <div class="ListContentTitle center-align">예약 대기 List</div>
    <div class="WaitCardContainer">
    <% for(var i = 0; i<12 ; ++i){ %>
      <div class="WaitListCard">
        <div class="WaitListCardHeader">
	 <span class="left left-align">13:00~15:00</span>
	 <span class="right right-algin">REZRO-4062</span>
	</div>
	<div class="WaitListCardContent valign-wrapper center-align">
		<p class="valign center-align">
		<strong>송정현</strong>
		<span>010-7777-7777</span>
		</p>
	</div>
      </div>
    <% } %>
    </div>
  </div>
  </div>
  </body>
</html>
