<!DOCTYPE html>
<html>
  <head>
    <title>GoodReserve purchase test page</title>
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <script src="/javascripts/materialize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel='stylesheet' href="/stylesheets/common.css" />
    <link rel='stylesheet' href='/stylesheets/setting.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <nav>
  <div class="nav-wrapper MainDarkRed valign-wrapper">
  	<a href="#" class="restaurantName"><%= restaurantName %></a>
  </div>
  </nav>
  <div class="content">
  </div>
  </body>
</html>
