.MainDarkRed{
	background-color: #993939 !important;
}
.MainSilver{
	background-color: #757575 !important;
}
.ListSilver{
	background-color: #bdbdbd !important;
}
nav .restaurantName{
	color : #993939 !important;
	background-color: white;
	padding : 0px 15px;
	font-size: 2rem;
	margin : 0px 15px;
}
nav .saleWrapper{
	position: absolute;
	right : 0px;
}
.saleWrapper .saleEndButton{
	background: white;
	border-radius: 2rem;
	color: #993939;
	font-size : 1.2rem;
	padding : 7px 10px;
}
.content{
	width : 100%;
	height : calc(100vh - 64px);
}
.WaitListCard{
	background : white;
	width : 245px;
	height : 99px;
	margin : 12.5px;
	overflow : hidden;
	border-radius: 15px;
}
.WaitListCardHeader{
	background-color: #EAEAEA;
	height : 30px;
}
.WaitListCardHeader span{
	font-size:1.1em;
	line-height: 30px;
	margin : 0px 8px;
	color : #747474;
}
.WaitListCardHeader span.right{
	font-weight : bold;
}

.WaitListCardContent strong{
	font-size: 1.5em;
}
.WaitListCardContent p{
width : 100%;
}
