.MainDarkRed{
	background-color: #993939 !important;
}
.MainSilver{
	background-color: #757575 !important;
}
.ListSilver{
	background-color: #bdbdbd !important;
}
nav .restaurantName{
	color : #993939 !important;
	background-color: #fbfafa;
	padding : 0px 15px;
	font-size: 2rem;
	margin : 0px 15px;
}
nav .saleWrapper{
	position: absolute;
	right : 0px;
}
.saleWrapper .saleEndButton{
	background: white;
	border-radius: 2rem;
	color: #993939;
	font-size : 1.2rem;
	padding : 7px 10px;
}
.saleWrapper .saleSettingButton{
	margin : 0px 10px;
}
.content{
	width : 100%;
}
.WaitListCard{
	background : white;
	width : 245px;
	height : 99px;
	box-shadow : 0px 1px 3px 1px black;
	margin : 12.5px;
	overflow : hidden;
	border-radius: 15px;
}
.imageAddContainer{
	width: 100%;
	height: 100%;
}
.imageAddContainer a{
	margin: auto;
}
.NumberCounter a i{
	padding : 0px 5px;
}
.NumberCounter a:first-child i{
	border-right: 1px solid gray;
}
.NumberCounter a:last-child i{
	border-left: 1px solid gray;
}
.NumberCounter{
	padding: 10px 5px;
	width: 180px;
	border: solid 1px #993939;
	border-radius: 7px;
	text-align: center;
}
.CategorySelector{
	width: 180px;
	background: #993939;
	text-align: center;
	border-radius: 7px;
	padding: 10px 5px;
}
.NumberCounter-wrapper, .CategorySelector-wrapper{
	width : 180px;
	margin : 15px;
	display: inline-block;
}
.WaitListCardHeader{
	background-color: #EAEAEA;
	height : 30px;
}
.MenuDetail div a i.material-icons{
	margin: 5px;
}
.WaitListCardHeader span{
	font-size:1.1em;
	line-height: 30px;
	margin : 0px 8px;
	color : #747474;
}
.WaitListCardHeader span.right{
	font-weight : bold;
}

.WaitListCardContent strong{
	font-size: 1.5em;
}
.WaitListCardContent p{
	width : 100%;
}
.ReserveCard{
	width:320px;
	height:266px;
	overflow: hidden;
	display: inline-block;
	border-radius : 15px;
	background : white;
	margin : 15px;
	box-shadow : 0px 1px 3px 1px black;
}
.ReserveCardHeader{
	height: 30px;
	background-color: #993939;
	color:white;
	border-bottom : 1px solid white;
}
.ReserveCardHeader span{
	font-size: 1.1em;
	line-height: 30px;
	margin: 0px 8px;
}
.ReserveHeaderContent strong{
	font-size: 1.7em;
	margin-left: 15px;
	margin-right: 5px;
}
.MenuCard{
	width:315px;
	height: 200px;
	overflow: hidden;
	display: inline-block;
	border-radius: 15px;
	background: white;
	margin: 8px;
	box-shadow : 0px 1px 3px 1px black;
}
.addCard{
	width: 315px;
	height: 200px;
	overflow: hidden;
	display: inline-block;
	border-radius: 15px;
	border : solid 2px #993939;
	margin: 8px;
}
.addCard:hover{
	cursor : pointer;
}
.addCard i{
	line-height: 200px;
	font-size: 4rem;
}
.MenuImage, .MenuDetail{
	height: 100%;
	display: inline-block;
}
.MenuImage{
	width: 45%;
	background : gray;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : cover;
}
.MenuDetail{
	width: 55%;
}
.MainDarkRed-text{
	color: #993939 !important;
}
.MainContentHeader{
	font-size:1.7em;
	height: 60px;
	margin:0;
	border:0;
	font-weight: bold;
	padding: 15px;
}
.CardContainer{
	display : inline-block;
	margin : auto;
}
.ReserveCardContent{
	text-align:left;
	padding: 20px;
}
.ReserveCardContent .valign{
	width: 100%;
}
.ReserveCardContentTitle{
	color: #747474;
}
.CardMenuContent{
	margin-left : 25px;
}
.ReserveCardContent p{
	font-weight: bold;
	margin: 0;
	font-size: 1.7em;
}
/* label color */
.input-field label {
        color: #993939;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	 color: #993939;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #993939;
	box-shadow: 0 1px 0 0 #993939;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #993939;
	box-shadow: 0 1px 0 0 #993939;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #993939;
	box-shadow: 0 1px 0 0 #993939;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #993939;
}
