.loginContainer{
	margin: auto;
	opacity: 0.8;
	padding : 10% 20px;
	max-width: 400px;
}
.signInContainer{
	margin: auto;
	opacity: 0.8;
	padding : 10% 20px;
	max-width: 994px;
}
body{
 	background : url(/images/Background.png) center center no-repeat;
	background-size : cover;
	min-height: 100vh;
}
.logo{
	width: 70%;
	margin:auto;
	min-width: 100px;
	max-width: 400px;
}
.valign{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.image{
	text-align:center;
	color: white;
}
.image img{
	margin: auto;
}
img[width=70%]{
	margin: auto;
}
.inputForm{
	display: block;
	width: 100%;
	box-sizing: border-box;
	background: none;
	margin : 10px 0px;
	padding : 8px;
	color: white;
	font-size : 1.1em;
	border : 1px solid white;
	border-radius: 5px;
}
.submitButton{
	display: block;
	width: 100%;
	font-size : 1.1em;
	background : #993939;
	border-radius :7px;
	padding: 10px;
	white-space: none;
	color: white;
	border : none;
}
.half{
	height : 353px;
	display: inline-block;
	width: calc(96% - 353px);
	margin : 1%;
	float : right;
}
.image{
	float : left;
	width: 353px;
	box-sizing: border-box;
	border : 2px solid white;
	border-radius: 7px;
	text-align: center;
}
.loginContainer ul{
	height: 1.1rem;
	line-height: 1.1rem;
	font-size : 1rem;
	float:right;
	color : white;
}
.loginContainer ul li{
	list-style: none;
	margin : 0px 10px;
	display: inline-block;
}
ul li img{
	margin : 0px 5px;
}
a{
	color:white;
	text-decoration : none;
}
